<%- include ('../layouts/header') %>
<h2><%=title%></h2>
<form class="form" name="myForm" action="/blockchain/edit" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-label-group" hidden>
      <input type="number" class="form-control" id="bchain" name="bchain" required="" placeholder="bchain" value="<%= data.bchain %>">
    </div>
    <div class="form-label-group">
      <input type="text" class="form-control" id="ip" name="ip" required="" placeholder="IP" value="<%= data.ip %>">
    </div>
    <div class="form-label-group">
        <input type="number" class="form-control" id="puerto" name="puerto" required="" placeholder="Puerto" value="<%= data.puerto %>">
    </div>
    <div class="form-label-group">
        <input type="text" class="form-control" id="usuario" name="usuario" required="" placeholder="Usuario" value="<%= data.usuario %>">
    </div>
    <div class="form-label-group">
        <input type="text" class="form-control" id="clave" name="clave" required="" placeholder="Clave" value="<%= data.clave %>">
    </div>
    <button type="submit" class="btn btn-primary">Modificar</button>
    
  </form>

  <%- include ('../layouts/footer') %>
  