<%- include ('../layouts/header') %>
<%- include ('../layouts/header_options') %>
<h2><%=title%></h2>
<form class="form" name="myForm" action="/puesto/delete" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-label-group" hidden>
      <input type="number" class="form-control" id="puesto" name="puesto" required="" placeholder="puesto" value="<%= data.puesto %>">
    </div>
        <p>Orden: <%= data.orden %></p>
        <p>Descripcion:  <%= data.descripcion %></p>
    <button type="submit" class="btn btn-primary">Eliminar</button>
    
  </form>

  <%- include ('../layouts/footer') %>
  