<%- include ('../layouts/header') %>
<%- include ('../layouts/header_options') %>
<h2><%=title%></h2>
<form class="form" name="myForm" action="/puesto/edit" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-label-group" hidden>
      <input type="number" class="form-control" id="puesto" name="puesto" required="" placeholder="puesto" value="<%= data.puesto %>">
    </div>
    <div class="form-label-group">
      <input type="number" class="form-control" id="orden" name="orden" required="" placeholder="Orden" value="<%= data.orden %>">
    </div>
    <div class="form-label-group">
      <input type="text" class="form-control" id="descripcion" name="descripcion" required="" placeholder="Descripcion" value="<%= data.descripcion %>">
    </div>
    <button type="submit" class="btn btn-primary">Modificar</button>
    
  </form>

  <%- include ('../layouts/footer') %>
  