<%- include ('../layouts/header') %>
<%- include ('../layouts/header_options') %>
<h2><%=title%></h2>
<form class="form" name="myForm" action="/lista/delete" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-label-group" hidden>
      <input type="number" class="form-control" id="lista" name="lista" required="" placeholder="lista" value="<%= data.lista %>">
    </div>

        <p>Nombre: <%= data.nombre %></p>
        <p>Numero:  <%= data.numero %></p>
    <button type="submit" class="btn btn-primary">Eliminar</button>
    
  </form>

  <%- include ('../layouts/footer') %>
  