<%- include ('./layouts/header') %>
<h2><%=title%></h2>


<div class="row">
    <div class="col-sm-6 " style="max-width: 18rem;">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
            <h5 class="card-title">Votos Totales:</h5>
            <p class="card-text"><%=votos_totales%></p>
            </div>
        </div>
      </div>
    <div class="col-sm-6 " style="max-width: 18rem;">
        <div class="card border-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Votos Validos:</h5>
                <p class="card-text"><%=votos_validos%></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="max-width: 18rem;">
        <div class="card border-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Votos Anulados:</h5>
                <p class="card-text"><%=votos_modificados%></p>
            </div>
        </div>
    </div>
</div>


<table class="table table-sm">
<% var orden = 0;  %>
<% for(var i=0; i < lista.length; i++) { %>
    <% if (orden < lista[i].orden) { %>
        <% if (i>=1) { %>
            </tbody>
        <% } %>
        <thead class="thead-dark">
        <tr><th scope="col" colspan="3"><strong>Puesto: <%=lista[i].puesto%></strong></th></tr>
        </thead>
        <thead class="thead">
        <tr>
            <th>
                Lista
            </th>
            <th>
                Candidato
            </th>
            <th>
                Votos
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <%= lista[i].lista %>
            </td>
            <td>
                <%= lista[i].candidato_nombre %>
            </td>
           <td>
                <%= lista[i].votos %>
            </td>
        </tr>
    <% } else { %>
        <tr>
            <td>
                <%= lista[i].lista %>
            </td>
            <td>
                <%= lista[i].candidato_nombre %>
            </td>
           <td>
                <%= lista[i].votos %>
            </td>
        </tr>
    <% } %>
    <% orden = lista[i].orden ; %>
<% } %>
    </tbody>
</table>

<%- include ('./layouts/footer') %>
